*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    background-color: #FD6E0A;
    color:white;
    border: none;
    border-radius: 5px;
    padding: 18px 36px;
    cursor: pointer;
}
.open-sans{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.head-continer{
    background-color: #FFF8F3;
    padding-top: 51px;
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-position: 38px 25px ,right bottom;
    background-repeat: no-repeat;
}
nav{
    width: 71%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-left: 230px;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 51px;  
}
nav ul a{
    text-decoration: none;
}
.logo h2 span{
color: #FD6E0A;
}
.logo h2{
    font-size: 45px;
    font-weight: 900px;
}
.nav a{
    font-size: 20px;
    color: #474747;
}
#section{
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.content-div{
    max-width: 585px;
    background-repeat: no-repeat;
}
.content-div h2{
    font-size: 45px;
    font-weight: 600px;
    color: 474747;
    padding: 5px 0;
}
.content-div h1{
    font-size: 71px;
    font-weight: bold;
}
.content-div p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}
.content-div .btn{
    margin: 30px 30px 0  0;
}
.content-div .img,img{
    max-width: 584px;
    vertical-align: middle;
}
.about-parent{
    width: 71%;
    max-width: 1140px;
    background-color: #FFF8F3;
    border-radius: 10px;
    margin: 113px auto;
    padding: 145px 156px 117px;
}
.text{
    max-width: 827px;
}
.child{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.about-parent h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
    margin-bottom: 30px;
}
.about-parent .abouto-main-p{
    font-size: 18px;
    color: #757575;
    text-align: center;
    margin-bottom: 30px;
}
.about-parent .child p h4{
    font-size: 20px;
    line-height: 30px;
}
.main-section{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    margin-top: 144px;
}
.text-content h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.text-content .main-p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 50px;
}
.skills-parent{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.main-section .skills-parent .skills-child{
    max-width: 247px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
    border: none;
    box-shadow: 0 6px 35px 0px #000000;
    padding: 30px;
    text-align: left;
}
.skills-parent h2{
      font-size: 20px;
      font-weight: bold;
      margin-top: 30px;
}
.skills-parent p{
    font-size: 16px;
    line-height: 28px;
    color:#757575;
    margin-top: 20px;
}
.resume-section{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 113px; 
}
.edu-exp-parent-first{
    display: flex;
    gap: 71px;
}
.resume-section h2{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 113px;
}
.edu-exp-parent .head{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #474747;
}
.edu-exp-parent h4{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
    text-align: left;
}
.edu-exp-parent h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color:#757575;
    text-align: left;
}
.edu-exp-parent p{
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    margin-bottom: 30px;
    color:#757575;
}
.edu-exp-parent hr{
    color: #D1D1D1;
    margin-bottom: 30px;
}
.edu-child{
    max-width: 511px;
    
}
.resume-section ,.btn{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.footer-parent{
    background-color: #FFF8F3; 
}
.footer-parent-2{
    width: 71%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    gap: 117px;
    margin: 0 auto;
}
.footer-child h2{
    font-size: 35px;
    font-weight: bold;
    margin-top: 138px;
    color:#181818;
}
.footer-child p{
    font-size: 15px;
    line-height: 28px;
    color: #474747;
    margin-top: 20px;
}
.footer-child .img{
    margin-top: 30px;
    word-spacing: 24px;
    color: #FFFFFF;
}
.footer-child form input{
         width: 461px;
         height: 64px;
         font-size: 16px;
         background-color: #FFFFFF; 
         border-radius: 5px;   
         color:#757575 ;
        line-height: 28px;
        border: none;
        margin-top: 28px;
        padding-left: 30px;
}
.footer-child textarea{
    border-radius: 5px;
    border: none;
    color: #757575;
    background-color: #FFFFFF;
   padding-top: 18px;
   padding-left: 30px;
   margin-top: 24px;
}
.footer-child .btn{
    margin-top: 24px;
    margin-bottom: 122px;
}
.hide{
    display: none;
}

@media screen and (max-width:576px) {
  .footer-parent-2{
    flex-direction: column;
    gap: 25px;
    margin: 20px;
  }
  .footer-child h2{
    margin-top: 50px;
    font-size: 30px;
  }
 .footer-child h2{
    margin-top: 25px;
 }
 .footer-child form input {
    width: 100%;
    font-size: 16px;
 }
 .footer-child textarea {
   width: 100%;
}
.resume-section {
    margin: 20px;
    margin-top: 60pxpx;
    margin-bottom: 60px;
}
.resume-section h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
.edu-exp-parent-first {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-section {
    margin-top: 60px;
    margin-bottom: 60px;
}
.skills-parent {
    flex-direction: column;
   justify-content: center;
   align-items: center;

}
.main-section .skills-parent .skills-child {
    width: 90%;
    text-align: center;
}
.about-parent {
    margin: 20px;
    padding: 10px;
    width: 90%;
}
.child {
    flex-direction: column;
    text-align: center;
}
nav {
    flex-direction: column;
    margin: 0 auto;
    margin-left: 45px;
    width: 90%;
    
}
nav ul {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    gap: 30px;
    margin-top: 20px;
    
}
.resume-section, .btn {
    grid-column: span 2;
}
#section {
    flex-direction: column;
    margin: 20px;   
}
.content-div {
    width: 90%;
}
.content-div h2 {
    font-size: 25px;
    font-weight: 600px;
    padding: 5px 0;
}
.content-div h1 {
    font-size: 50px;
    font-weight: bold;
}
.content-div p {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}
.head-continer {
    background-image:  url(../images/header_bg.png);
    background-size: cover;
    background-size: 800px;
    background-position: center bottom;
}
}