*{
    margin: 0;
    padding: 0;
   
}
.btn{
    background-color: #FD6E0A;
    color:white;
    border: none;
    border-radius: 5px;
    padding: 18px 36px  ;
}
.open-sans{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.head-continer{
    background-color: #FFF8F3;
    padding-top: 51px;
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-position: top left,right bottom;
    background-repeat: no-repeat;
}
.nav{
    width: 71%;
    max-width: 1140px;
   
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-left: 230px;
}
.nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 51px;
}
.nav ul a{
    text-decoration: none;
}

.logo h2 span{
color: #FD6E0A;
}
.logo h2{
    font-size: 45px;
    font-weight: 900px;
}
.nav a{
    font-size: 20px;
    color: #474747;
}
#section{
    
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.content-div{
    max-width: 585px;
    
    background-repeat: no-repeat;
}
.content-div h2{
    font-size: 45px;
    font-weight: 600px;
    color: 474747;
    padding: 5px 0;
}
.content-div h1{
    font-size: 85px;
    font-weight: bold;
}
.content-div p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}
.content-div .btn{
    margin: 30px 30px 0  0;
}
.content-div .img{
    width: 584;
    height: 676;
    justify-content: middle;
}